.header {
	grid-area: 1 / 1 / 1 / -1;
	animation: fadedownheader 0.8s ease-in-out;
	margin-bottom: 16rem;
	display: grid;
	grid-template-rows: 100vh;
	grid-template-columns: repeat(12, 1fr);
	&__vid {
		display: block;
		object-fit: cover;
		object-position: bottom;
		overflow: hidden;

		@media only screen and (max-width: $bp-medium) {
			height: 65vh;
		}
		@media only screen and (max-width: $bp-small) {
			height: 90vh;
		}
	}
	figure {
		grid-area: 1 / 2 / 1 / 12;
		z-index: 4;
		@media only screen and (max-width: $bp-large) {
			grid-area: 1 / 1 / 1 / -1;
		}
	}
	// Media Queries
	@media only screen and (max-width: $bp-huge) {
		grid-template-rows: 80vh;
	}
	@media only screen and (max-width: $bp-large) {
		grid-template-rows: 68vh;
	}
	@media only screen and (max-width: $bp-medium) {
		grid-template-rows: 70vh;
		margin-bottom: 6rem;
	}
	@media only screen and (max-width: $bp-small) {
		grid-template-rows: 100vh;
		margin-bottom: 0;
	}
}

.fade {
	animation: fade 3s ease-in;
}
.video-player {
	position: relative;
	overflow: hidden;
	grid-area: 1 / 2 / 1 / -1;
}
.video-player:hover .controls {
	transform: translateY(0);
}
.controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba($color-black, 0.7);
}

.vid__btn {
	display: block;
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.vid__btn:hover .controls .bar {
	transform: translateY(-1.2rem);
}
.bar {
	height: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $color-black;
	transform: translateY(-4px);
	transition: all 0.25s ease-in-out;
	&__color {
		height: 1.2rem;
		background-color: $color-primary;
	}
}
.main-btn {
	align-items: center;
	outline: none;
	background: none;
	border: 0;
	position: absolute;
	top: 35%;
	left: 15%;
	cursor: pointer;
	@media only screen and (max-width: $bp-small) {
		top: 30%;
		left: 35%;
		background-color: rgba(#fff, 0.9);
		border-radius: 100%;
		padding: 4rem;
		transition: all 0.4s;
		&:hover,
		&:active {
			background-color: rgba(#fff, 1);
			transform: scale(1.05);
		}
	}
	@media only screen and (max-width: $bp-mobile) {
		left: 32%;
	}
	@media only screen and (max-width: $bp-mobile-medium) {
		left: 28%;
	}
	@media only screen and (max-width: $bp-mobile-small) {
		left: 25%;
	}
	@media only screen and (max-width: $bp-mobile-extrasmall) {
		left: 22%;
	}

	& > div {
		display: flex;
	}
	&--icon {
		display: inline-block;
		width: 11rem;
		height: 11rem;
		transition: all 0.6s ease-in-out;
		fill: #e5ac31;
		opacity: 0.85;
		@media only screen and (max-width: $bp-small) {
			width: 15rem;
			height: 15rem;
			opacity: 1;
			transform: translateX(2rem);
		}

		&-2 {
			opacity: 0;
			width: 10rem;
			visibility: hidden;
			position: absolute;
			top: -16%;
			left: 0%;
			fill: #e5ac31;
			transition: all 0.6s ease-in-out;
			@media only screen and (max-width: $bp-large) {
				top: -32%;
			}

			@media only screen and (max-width: $bp-small) {
				width: 20rem !important;
				top: 0%;
				left: -10%;
			}
		}
	}
	&--text {
		font-family: $main-font;
		font-weight: bold;
		font-size: 8rem;
		color: #fff;
		margin-left: 3rem;
	}
	&--text::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 10rem;
		height: 10rem;
		font-size: 12rem;
		background: url(../content/sprite.svg#icon-play);
		background-size: 10rem 10rem;
	}
}
.main-btn:hover .main-btn--icon-2 {
	opacity: 0.85;
	width: 10rem;
	visibility: visible;
	transform: translateX(-4rem);
	@media only screen and (max-width: $bp-small) {
		display: none;
	}
}
.main-btn:hover .main-btn--icon {
	transform: translateX(2rem);
}

.visual {
	@media only screen and (max-width: $bp-small) {
		display: none;
	}
}
