.styles {
	grid-area: 3 / 2 / 4 / 13;
	@include contentgrid;
	margin-bottom: 18rem;
	&__animate {
		.styles {
			&__box {
				opacity: 1;
				animation: fadedownsidebar 0.8s ease-in-out;
			}
			&__img {
				opacity: 1;
				animation: fadeupsidebar 0.8s ease-in-out;
			}
			&__content {
				opacity: 1;
				animation: faderight 0.8s ease-in-out;
			}
			&__text {
				opacity: 1;
				animation: fade 2s ease-in-out;
			}
		}
	}
	&__box {
		background-color: $color-primary;
		grid-area: 1 / 11 / 10 / -1;
		justify-self: center;
		padding: 6rem;
		width: 70%;
		height: 100%;
		z-index: 1;
		opacity: 0;
	}
	&__img {
		display: block;
		grid-area: 2 / 8 / 13 / 12;
		justify-self: center;
		z-index: 2;
		background-image: url(../content/styles-2x.png);
		background-size: cover;
		background-position: right;
		max-height: 80rem;
		width: 100%;
		opacity: 0;
	}
	&__content {
		grid-area: 6 / 1 / 16 / 9;
		justify-self: center;
		background: linear-gradient(
			to right,
			transparent 30%,
			transparent 30%,
			#fff 80%,
			#fff 80%,
			#fff 100%
		);
		width: 80%;
		padding: 6.4rem;
		z-index: 3;
		padding-bottom: 16rem;
		opacity: 0;
	}
	&__text {
		transform: translateX(-30%) rotate(-90deg);
		grid-area: 8 / 1 / 12 / 2;
		z-index: -1;
		justify-self: start;
		align-self: end;
		opacity: 0;
	}
}
