.styles {
	grid-area: 3 / 2 / 4 / 13;
	@include contentgrid;
	margin-bottom: 18rem;
	&__box {
		background-color: $color-primary;
		grid-area: 1 / 11 / 10 / -1;
		justify-self: center;
		padding: 6rem;
		width: 70%;
		height: 100%;
		z-index: 1;
		animation: fadedownsidebar 0.8s ease-in-out;
	}
	&__img {
		display: block;
		grid-area: 2 / 8 / 13 / 12;
		justify-self: center;
		z-index: 2;
		background-image: url(../content/styles-2x.png);
		background-size: cover;
		background-position: right;
		max-height: 80rem;
		width: 100%;
		animation: fadeupsidebar 0.8s ease-in-out;
	}
	&__content {
		grid-area: 6 / 1 / 16 / 9;
		justify-self: center;
		background-color: #fff;
		width: 80%;
		padding: 6.4rem;
		z-index: 3;
		animation: faderight 0.8s ease-in-out;

		padding-bottom: 16rem;
	}
	&__text {
		transform: translateX(-30%) rotate(-90deg);
		grid-area: 8 / 1 / 12 / 2;
		z-index: 4;
		justify-self: start;
		align-self: end;
		animation: fade 2s ease-in-out;
	}
}
